<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Server Programming 2</title>
	</head>
	
	
	<body>
		<p th:text="'Tehtävä'" />
		<table>
			<tr th:each="oppilas : ${studentsList}">
				<td th:text="${oppilas.fname}"></td>
				<td th:text="${oppilas.lname}"></td>
			</tr>
		</table>
		
	</body>
</html>

<!-- 

		<p th:text="'Kokeilu'" />
		<p th:text="${opiskelija1.fname}" />
		<p th:text="${opiskelija2.fname}" />
		<p th:text="${opiskelija3.fname}" />

 -->